.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.home::before {
  content: "";
  display: block;
  background: url("/src/Assets/boltcopy.svg") no-repeat center center;
  background-color: #036656;
}

.forms {
  text-align: center;
  display: grid;
  align-self: center;
  justify-self: center;
  max-width: 30rem;
  padding: 1rem;
}

.forms h1 {
  font-size: 4.5rem;
  font-weight: 500;
}

.forms p {
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 40rem) {
  .home {
    grid-template-columns: 1fr;
  }
  .home::before {
    display: none;
  }

  .forms {
    max-width: 100%;
  }
}
